:root {
  --accent-color1: #012463;
  --accent-color3: #d8ecfe;
  --accent-color2: #ffa648;
  --accent-color4: #004cd1;
  --color-black: #101010;
  --contact-input-bg:#F3F3F3;
  --contact-input-border:#CBCBCB;
  --gray-border-color: #9c9c9c;
  --banner-gradient: 90deg, #004cd1 0%, #000000 53%, #ffa438 100%;
  --card-gradient: 180deg, rgba(255, 167, 83, 0.17) 0%,
    rgba(0, 49, 119, 0.68) 77%;
  --review-card-gradient: 0deg, rgba(255, 255, 255, 1) 50%,
    rgb(161, 189, 238) 98%;
  --review-gradient: to right, #004ab5 0%, #012463 100%;
  --footer-gradient: 0deg, rgba(1, 36, 99, 1) 0%, rgba(0, 49, 119, 1) 100%;
  --footer-icons-gradient: 45deg, rgba(1, 68, 165, 1) 0%,
    rgba(0, 26, 63, 1) 100%;
  --footer-icons-gradient2: 0deg, rgba(0,91,221,1) 0%, rgba(0,49,119,1) 100%;
  --page-image-gradient: 45deg, rgba(255, 167, 83, 0.25) 0%,
    rgba(0, 76, 209, 0.25) 100%;
  --banner-height-d:400px;
  --banner-height-m:250px;
}



body {
  width: 100%;
  font-family: Gilroy;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-HeavyItalic"), local("Gilroy-HeavyItalic"),
    url("./fonts/Gilroy-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Black"), local("Gilroy-Black"),
    url("./fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBoldItalic"), local("Gilroy-ExtraBoldItalic"),
    url("./fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"), local("Gilroy-ExtraBold"),
    url("./fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Heavy"), local("Gilroy-Heavy"),
    url("./fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Bold"), local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-BoldItalic"), local("Gilroy-BoldItalic"),
    url("./fonts/Gilroy-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-BlackItalic"), local("Gilroy-BlackItalic"),
    url("./fonts/Gilroy-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-MediumItalic"), local("Gilroy-MediumItalic"),
    url("./fonts/Gilroy-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-LightItalic"), local("Gilroy-LightItalic"),
    url("./fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"), local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-SemiBold"), local("Gilroy-SemiBold"),
    url("./fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Medium"), local("Gilroy-Medium"),
    url("./fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: local("Gilroy-RegularItalic"), local("Gilroy-RegularItalic"),
    url("./fonts/Gilroy-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-UltraLight"), local("Gilroy-UltraLight"),
    url("./fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Thin"), local("Gilroy-Thin"),
    url("./fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-UltraLightItalic"), local("Gilroy-UltraLightItalic"),
    url("./fonts/Gilroy-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-SemiBoldItalic"), local("Gilroy-SemiBoldItalic"),
    url("./fonts/Gilroy-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ThinItalic"), local("Gilroy-ThinItalic"),
    url("./fonts/Gilroy-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

.button-primary {
  background: var(--accent-color2);
  border-radius: 5px;
  padding: 8px 20px;
  display: inline-block;
  font-weight: 600;
  color: #fff;
}

.button-secondary {
  background: linear-gradient(var(--footer-icons-gradient));
  border-radius: 8px;
  padding: 10px 50px;
  display: inline-block;
  font-weight: 600;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none !important;
}

.hamburgers {
  justify-content: center;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
}

.hamburger input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  border-radius: 40px;
  transition: all 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02);
  background-color: var(--accent-color1);
}

.hamburger input:checked ~ .bar:nth-child(2) {
  transform: translateY(9.5px) rotate(45deg);
}

.hamburger input:checked ~ .bar:nth-child(3) {
  opacity: 0;
}

.hamburger input:checked ~ .bar:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
}

.contect-overlay {
  left: 50%;
  transform: translateX(-50%);
  /* Safari iOS 6-9.0 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      left: 50%;
      -webkit-transform: translateX(-50%);
    }
  }
  /* Safari iOS 10+ */
  @supports (-webkit-transform: translateX(-50%)) {
    left: 50%;
    -webkit-transform: translateX(-50%);
  }
}
